body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('/assets/image/3409297.jpg');
    background-color: #181d25;
    /* background-size: cover;
    width: 100%;
    height: auto;  */
    margin: 0;
 }
 
 header {
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
    padding: 10px 0;
    /* padding: 5px;
    position: fixed;
    width: 100%; */
 }
 
 .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
 }
 
 h1 {
    margin: 10px;
 }
 
 nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
 }
 
 nav li {
    margin: 0 15px;
 }
 
 nav a {
    text-decoration: none;
    color: #fff;
 }
 
 nav a:hover {
    border-bottom: 2px solid #fff;
 }
 
 .content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
 }
 
 .img img {
    width: 200px; 
    height: 200px; 
    border-radius: 50%;
    border: 5px solid white;
    transition: all 0.3s ease;
 }

 /* .img:hover img {
    width: 250px;
    height: 250px;
    border-color: red;
 } */

 .desk {
    text-align: center;
 }

 .desk p {
    font-size: 16px; 
    color: white;
    cursor: pointer;
    /* transition: all 0.3s ease;  */
}

/* .desk p:hover {
    font-size: 20px; 
    color: yellow; 
    letter-spacing: 2px; 
} */

.simple-footer {
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    text-align: center;
    padding: 5px;
    position: fixed;
    bottom: 0;
    width: 100%;
 }

 .center-container {
    text-align: center;
 }
 
 .button12 {
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
 }
 
 .button12:hover {
    background-color: #2980b9;
    transform: scale(1.1); 
 }

 .bio {
    max-width: 90%;
    height: auto;
    margin: 50px auto;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* text-align: center; */
    color: white;
 }

 .bio1 {
    max-width: 90%;
    height: auto;
    margin: 50px auto;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    color: white;
 }

 /* style.css */
.transition {
   opacity: 1;
   transition: opacity 0.5s ease-in-out;
}

/* Tambahkan class transition pada halaman pertama dan kedua */
.page1.transition {
   opacity: 1;
}

.page2.transition {
   opacity: 0;
}

.wa {
   width: 30px;
   height: auto;
}

